{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage",//按需引用
				"corejs": 3 //corejs版本
			}
		]
	],
	"plugins": [
		[
			"@babel/plugin-transform-runtime",
			{
				"absoluteRuntime": false,
				"corejs": 3,
				"helpers": true,
				"regenerator": true,
				"useESModules": false
			}
		]
	]
}